@use "../abstracts/variables";

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin flex-direction($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}
