$width-full: 100%;
$width-container: 50%;
$height-full: 100vh;
$height-container: 50vh;

$bottom-items: 30px;

$opacity-passive-color: 0.5;
$opacity-active-color: 1;

$color-gradient-left: #82aae3;
$color-gradient-right: #a1dee9;
$color-player-turn: #bfeaf5;
