@use "../abstracts/mixins";
@use "../abstracts/variables";

.buttons {
  @include mixins.width-height(10%, variables.$height-container);
  @include mixins.center;
  @include mixins.flex-direction(column);
  position: relative;

  .__new-game,
  .__roll,
  .__hold,
  img {
    @include mixins.center-horizontally;
    position: absolute;
  }

  .__new-game {
    top: 20px;
  }

  img {
    @include mixins.width-height(60px, 60px);
    margin-top: 80px;
  }

  .__roll {
    bottom: 90px;
  }

  .__hold {
    bottom: variables.$bottom-items;
  }
}
